.bg-color{
    background-color: rgb(25,25,25);
}

.tile-color{
    background-color: rgb(15,15,15);
}

.comment-area{
    background-color: rgb(15,15,15);
    color:white;
}

a{
    text-decoration: none;
    color:white;
}

ul{
    list-style-type: none;
}

#menu:hover{
    background-color: rgb(15,15,15);
}

.container-fluid.my-container{
    justify-content: center;
}