.bg-color{
    background-color: rgb(25,25,25);
}

.tile-color{
    background-color: rgb(15,15,15);
}

.comment-area{
    background-color: rgb(15,15,15);
    color:white;
}

a{
    text-decoration: none;
    color:white;
}

a:hover{
    color:grey;
}

ul{
    list-style-type: none;
}

#menu:hover{
    background-color: rgb(15,15,15);
}

.current-page {
    color: #fff;
    background: grey;
}
